@font-face {
    font-family: 'Bagnard';
    src: url('https://cdn.jsdelivr.net/gh/sebsan/bagnard/Bagnard.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
